// Buttons
// --------------------------------------------------------------------

@import 'buttons/variables.buttons';

// Collection alpha
.alpha {
  @import 'buttons/alpha';
}

// Collection beta
.beta {
  @import 'buttons/beta';
}

// Collection gamma
.gamma {
  @import 'buttons/gamma';
}

// Collection delta
.delta {
  @import 'buttons/delta';
}

// Collection epsilon
.epsilon {
  @import 'buttons/epsilon';
}

// Collection zeta
.zeta {
  @import 'buttons/zeta';
}

// Collection eta
.eta {
  @import 'buttons/eta';
}

// Collection theta
.theta {
  @import 'buttons/theta';
}

// Collection iota
.iota {
  @import 'buttons/iota';
}

// Collection kappa
.kappa {
  @import 'buttons/kappa';
}

// Collection lambda
.lambda {
  @import 'buttons/lambda';
}

// Collection mu
.mu {
  @import 'buttons/mu';
}

// Collection nu
.nu {
  @import 'buttons/nu';
}

// Collection xi
.xi {
  @import 'buttons/xi';
}

// Collection omicron
.omicron {
  @import 'buttons/omicron';
}

// Collection pi
.pi {
  @import 'buttons/pi';
}

// Collection rho
.rho {
  @import 'buttons/rho';
}

// Collection sigma
.sigma {
  @import 'buttons/sigma';
}

// Collection tau
.tau {
  @import 'buttons/tau';
}

// Collection upsilon
.upsilon {
  @import 'buttons/upsilon';
}

// Collection phi
.phi {
  @import 'buttons/phi';
}

// Collection chi
.chi {
  @import 'buttons/chi';
}

// Collection psi
.psi {
  @import 'buttons/psi';
}

// Collection omega
.omega {
  @import 'buttons/omega';
}



// - - -

// Additional button modifiers
.btn-sm {
  font-size: 0.85em !important;
}

.btn-md {
  font-size: 1.2em !important;
}

.btn-lg {
  font-size: 1.6em !important;
}