// Global styles
// --------------------------------------------------------------------

body {
  font-family: $font-family;
  line-height: $line-height;
  padding: 0;
  margin: 0;
  //background-color: $gray-lighter;
}

button, a {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid $color-primary;
  color: $color-primary;
  transition: border-color 0.2s;
  
  &:hover {
    border-color: transparent;
  }
}

section {
  padding: 10% 1%;
  color: $gray;
}

.container {
  @include h-padding(2%);
  max-width: 700px;
  margin: 0 auto;
}

hr {
  border-top: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  border-left: 0;
  border-right: 0;
  margin-top: 25px;
  margin-bottom: 25px;
}

.main-header {
  text-align: center;
  color: #aab;
  margin: 0;
  padding: 40px 0;
  background-image:
    linear-gradient(20deg, rgba(0,0,0,0) 84%, rgba($color-secondary, 0.9) 84.1%),
    linear-gradient(120deg, rgba(0,0,0,0) 85%, rgba($color-primary, 0.9) 85.1%),
    linear-gradient(-75deg, rgba(0,0,0,0) 88%, rgba($color-tertiary, 0.9) 88.1%),
    linear-gradient(-140deg, rgba(0,0,0,0) 87%, rgba($color-tetrary, 0.9) 87.1%)
    
    ;
  
  background-blend-mode: multiply;
}

.main-footer {
  background-color: $color-secondary;
  background-image: linear-gradient(-45deg, $color-secondary, lighten(adjust-hue($color-secondary, -16%), 4%));
  @include v-padding(11%);
  
  color: lighten($color-secondary, 40%);
}


// Headings

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
  margin: 0.3em 0 0.1em;
  font-weight: 100;
}

h1 {
  font-size: 4em;
  font-weight: 100;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.2em;
}

h4 {
  font-size: 1.8em;
}

h5 {
  font-size: 1.3em;
}

h6 {
  font-size: 1em;
}

.description {
  //opacity: 0.5;
  margin: 0 0 1em;
}