// Buttons - ETA
// --------------------------------------------------------------------

// Mixin
@mixin btn-eta($color, $text-color: check-background($color)) {
  background-color: $color;
  color: $text-color;
  border-color: darken($color, 8%);
  border-bottom-color: darken($color, 16%);

  box-shadow:
    0 1px 1px -1px rgba(255,255,255,0.9) inset, // top light accent
    0 40px 20px -20px rgba(255,255,255,0.15) inset, // top inner light
    0 -1px 1px -1px rgba(0,0,0,0.7) inset, // bottom shade accent
    0 -40px 20px -20px rgba(0,0,0,0.06) inset, // top inner light
    0 9px 8px -4px rgba(0,0,0,0.4), // bottom drop shadow
    0 2px 1px -1px rgba(0,0,0,0.3), // bottom drop shadow hard
    7px 7px 8px -4px rgba(0,0,0,0.1), // bottom right drop shadow
    -7px 7px 8px -4px rgba(0,0,0,0.1), // bottom left drop shadow
    0 -4px 12px 2px rgba(lighten($color, 5%), 0.2) // outer glow
    ;

  &:hover {
    background-color: lighten($color, 4%);
  }

  &:active {

    box-shadow:
      0 -1px 1px -1px rgba(255,255,255,0.4) inset, // top light accent
      0 -40px 20px -20px rgba(255,255,255,0.1) inset, // top inner light
      0 1px 1px -1px rgba(0,0,0,0.7) inset, // bottom shade accent
      0 40px 20px -20px rgba(0,0,0,0.06) inset, // top inner light
      0 7px 8px -4px rgba(0,0,0,0.4), // bottom drop shadow
      0 2px 1px -1px rgba(0,0,0,0.2), // bottom drop shadow hard
      7px 7px 8px -4px rgba(0,0,0,0.05), // bottom right drop shadow
      -7px 7px 8px -4px rgba(0,0,0,0.05), // bottom left drop shadow
      0 -4px 12px 2px rgba(lighten($color, 5%), 0.1) // outer glow
      ;

    background-color: darken($color, 4%);
    color: darken($color, 18%);
  }
}

.btn {
  @include btn-common($eta-v-spacing, $eta-h-spacing, $eta-border-radius, $eta-border-width);
  position: relative;
  overflow: hidden;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
  transition: box-shadow 0.4s $ease-out-quint;

  &:active {
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  transition-duration: 0.2s;

    &:after {
      background-image: linear-gradient(-90deg, rgba(255,255,255,0.02) 20%, rgba(255,255,255,0.0));
    }
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: rotate(-19deg) translateY(-1.3em) scale(1.05);
    filter: blur(1px);
    background-image: linear-gradient(-90deg, rgba(255,255,255,0.12) 20%, rgba(255,255,255,0.0));
  }
}

.btn-primary { @include btn-eta($color-primary); }
.btn-secondary { @include btn-eta($color-secondary); }
.btn-tertiary { @include btn-eta($color-tertiary); }
.btn-tetrary { @include btn-eta($color-tetrary); }

.btn-black { @include btn-eta($gray-darker); }
.btn-dark { @include btn-eta($gray-dark); }
.btn-gray { @include btn-eta($gray); }
.btn-light { @include btn-eta($gray-lighter); }